.not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
}

.not-found-subtext {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    top: 100px;
}
